head
	link(rel='stylesheet', href="css/main.css", type="text/css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
	script(src="/js/moment.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")

body
	h1#heading Stock Charting App
	form#time-pereod-form
		div.time-btn.selected-time#time60
			a 5Y
		div.time-btn#time36
			a 3Y
		div.time-btn#time12
			a 1Y
		div.time-btn#time6
			a 6M
		div.time-btn#time3
			a 3M
	div#chart-container
		canvas#my-chart
	div#controlls
		form#search-form
			label Search for a stock to add:
			input(type="text", placeholder="Stock Code...")#search-input
			div#spinner-container
		p#message
		ul#stock-list
			each stock in stocks
				li(id=stock).stock= stock.replace(/\-/g, '.')
		p#note For Australian stocks, add .AX after the code.
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="/js/spin.min.js")
	script(src="/js/index.js")
	script(src="/js/helpers.js")

